<footer>
    <mat-toolbar>
        
        <span>TODO IT</span>
        <span class="spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon><img style="background-color: white;" src="../assets/github.svg"></mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon><img style="background-color: white;" src="../assets/instagram.svg"></mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon><img style="background-color: white;" src="../assets/linkedin.svg"></mat-icon>
        </button>
        
      </mat-toolbar>
</footer>
