
<main>
    <div class="titulo-container">
        <h1 class="titulo">Solicita tu reparación</h1>
      </div>
    <div id="form-container">
        <form class="form"  [formGroup]="travelForm" #formDirective=ngForm (ngSubmit)="onSubmit(formDirective)">
            <mat-form-field class="matform" appearance="fill">
              <mat-label class="namefield">Marca</mat-label>
              <input name="marca" matInput formControlName="marca" required>
            </mat-form-field>
            <mat-form-field class="matform" appearance="fill">
              <mat-label class="namefield">Modelo</mat-label>
              <input class="input" name="modelo" matInput formControlName="modelo" required>
            </mat-form-field>
            <mat-form-field class="matform" appearance="fill">
                <mat-label class="namefield">Falla</mat-label>
                <input class="input" name="falla" matInput formControlName="falla" required>
            </mat-form-field>
            <mat-form-field class="matform" appearance="fill">
                <mat-label>Dirección</mat-label>
                <input class="input" name="address" matInput readonly required>
            </mat-form-field>
           
                <button type="submit" mat-raised-button [disabled]="!travelForm.valid" >Solicitar</button>
            
        </form>
    </div>
    <div class="background-image">
        <img src="../assets/fondoSoli.jpg" alt="">
      </div>
</main>
