
<main>
    <div id="form-container">
        <form class="form"  [formGroup]="travelForm" #formDirective=ngForm (ngSubmit)="onSubmit(formDirective)">
            <mat-form-field class="matform" appearance="fill">
              <mat-label>Marca</mat-label>
              <input name="marca" matInput formControlName="marca" required>
            </mat-form-field>
            <mat-form-field class="matform" appearance="fill">
              <mat-label>Modelo</mat-label>
              <input class="input" name="modelo" matInput formControlName="modelo" required>
            </mat-form-field>
            <mat-form-field class="matform" appearance="fill">
                <mat-label>Falla</mat-label>
                <input class="input" name="falla" matInput formControlName="falla" required>
            </mat-form-field>
            <!--<mat-form-field class="matform" appearance="fill">
                <mat-label>Dirección</mat-label>
                <input class="input" name="address" matInput readonly required>
            </mat-form-field>-->
            <fieldset id="fieldSubmit">
                <button type="submit" mat-button [disabled]="!travelForm.valid" color='primary'>Solicitar</button>
            </fieldset>
        </form>
    </div>
</main>
<app-footer></app-footer>