<main>
    <div class="background-image">
        <img src="../assets/notfound.jpg" alt="">
    </div>
      <h1>Pagina no encontrada :( </h1>
      <p>No se que quisiste hacer, pero aca seguro no es, te recomiendo que apretes el siguiente boton, solo te va a llevar de la mano para que no te pierdas :)</p>
      <div class="button-container">
        <button mat-raised-button class="button" aria-label="icon-button " [routerLink]="['/home']" routerLinkActive="router-link-active">
            Dale veni ;)
          </button>
      </div>
</main>
