
<main *ngIf="valido">
  <div class="background-image">
    <img src="../assets/fondoState.jpg" alt="">
  </div>
  <div class="titulo-container">
    <h1 class="titulo">Estado del Viaje</h1>
  </div>
  <div class="container">

  
  <mat-form-field style="background-color: white; padding: 0 1rem;" appearance="standard" class="filter">
    <mat-label style="color: black;">Filtro</mat-label>
    <input matInput  class="filter-input" (keyup)="applyFilter($event)" placeholder="Palabra clave" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort  >
  
      <!-- Fecha -->
      <ng-container matColumnDef="fecha">
        <th class="name-field" mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
        <td class="data-field" mat-cell *matCellDef="let row"> {{row.travelEquipmentDTOs[row.travelEquipmentDTOs.length-1].operationDate.slice(0,-17)}} </td>
      </ng-container>
  
      <!-- Marca -->
      <ng-container matColumnDef="marca">
        <th class="name-field" mat-header-cell *matHeaderCellDef mat-sort-header> Marca </th>
        <td class="data-field" mat-cell *matCellDef="let row"> {{row.mark}} </td>
      </ng-container>
  
      <!-- Modelo -->
      <ng-container matColumnDef="modelo">
        <th class="name-field" mat-header-cell *matHeaderCellDef mat-sort-header> Modelo </th>
        <td  class="data-field" mat-cell *matCellDef="let row"> {{row.model}} </td>
      </ng-container>
  
      <!-- Estado del equipo -->
      <ng-container matColumnDef="equipo">
        <th class="name-field" mat-header-cell *matHeaderCellDef mat-sort-header> Equipo </th>
        <td class="data-field" mat-cell *matCellDef="let row"> {{(row.travelEquipmentDTOs[row.travelEquipmentDTOs.length-1].statusTravel<=5?'Reparado':'Pendiente')}} </td>
      </ng-container>
       <!-- Estado del Envio -->
      <ng-container matColumnDef="envio">
        <th class="name-field" mat-header-cell *matHeaderCellDef mat-sort-header> Envio </th>
        <td class="data-field" mat-cell *matCellDef="let row"> {{code[row.travelEquipmentDTOs[row.travelEquipmentDTOs.length-1].statusTravel]}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>

  <!--<button style="padding: 2rem;" (click)="obtener()">click me pls</button>-->
</main>
